<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(226, 221, 221);
    font-family: 'Roboto', 'Arial', sans-serif;
    color: rgb(36, 37, 36);
    font-size: 10px;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1640px;
    font-size: 1.6rem;
    background-color: rgb(226, 221, 221);
    overflow-x: hidden;
}

.wrapper {
    max-width: 1640px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* ---Header section--- */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background-color: rgba(12, 12, 12, 1);
    z-index: 1;
}

#title {
    text-align: center;
    margin: 0 auto;
    font-size: 1.6rem;
    letter-spacing: 4px;
    color: rgb(185, 182, 182);
    line-height: 35px;
    font-family: 'Kaushan Script', cursive;
}

@media (min-width: 951px) {
    #header {
        display: none;
    }
}

#main_img {
    width: 100%;
    max-width: 1640px;
    height: 60vh;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 100px;
    background-image: url("img/georgia/georgia.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 700px) {
    #main_img {
        height: 40vh;
        margin-bottom: 0;
    }
}

/* ---Description of trip section--- */

#main_article {
    margin: 100px 3%;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 700px) {
    #main_article {
        margin: 50px 0;
        padding: 0 4%;
    }
}

#trip_description {
    width: 73%;
    padding-right: 20px;
    margin-bottom: 50px;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
    padding-bottom: 30px;
    font-size: 4.2rem;
    letter-spacing: 0.6rem;
    color: rgb(2, 159, 231);
    font-weight: 700;
    text-shadow: 2px 2px rgba(8, 8, 8, .8);
}

@media (max-width: 700px) {
    h1 {
        padding-bottom: 15px;
        font-size: 2.8rem;
        letter-spacing: 0.4rem;
        text-shadow: 1px 1px rgba(8, 8, 8, .8);
    }
}

.days {
    margin: 30px auto 10px auto;
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: 700;
}

@media (max-width: 700px) {
    .days {
        margin: 30px auto 10px auto;
        font-size: 1.4rem;
    }
}

.trip_text {
    margin: 0 auto 20px auto;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.small_text {
    font-size: 1.6rem;
    line-height: 2.1rem;

}

@media (max-width: 700px) {
    .trip_text {
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: rgb(36, 37, 36);
        font-weight: 400;
    }

    .small_text {
        font-size: 1.4rem;
        line-height: 1.8rem;

    }
}

aside {
    width: 27%;
    border-left: solid 1px rgb(124, 126, 134);
}

@media (max-width: 1100px) {
    aside {
        border-left: none;
        width: 100%;
    }

    #trip_description {
        width: 100%;
        padding-right: 0;
    }
}

.logo_aside {
    display: block;
    width: 40%;
    margin: 0 auto;
}

@media (max-width: 1100px) {
    .logo_aside {
        width: 15%;
    }
}

@media (max-width: 700px) {
    .logo_aside {
        width: 25%;
    }
}

#cost_terms {
    width: 100%;
    padding: 30px 5% 0 5%;
}

.terms {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.price {
    color: rgb(2, 159, 231);
}

.text_block {
    margin-top: 15px;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.text_inline {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-top: 7px;
    font-weight: 400;
}

.fa-check {
    font-size: 1.4rem;
    color: rgb(2, 159, 231);
    margin-right: 10px;
}

.fab {
    margin: 40px 10px;
    font-size: 4.5rem;
}

@media (max-width: 700px) {
    .terms {
        font-size: 1.4rem;
        line-height: 1.7rem;
    }

    .text_block {
        font-size: 1.4rem;
        line-height: 1.7rem;
    }

    .text_inline {
        font-size: 1.4rem;
        line-height: 1.7rem;
    }

    .fa-check {
        font-size: 1.4rem;
    }

    .fab {
        font-size: 3.4rem;
    }
}

/* ---Gallery section--- */

#gallery {
    width: 100%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

@media (max-width: 1300px) {
    #gallery {
        margin: 50px auto;
    }
}

.images {
    padding: 50px 10px 0 10px;
}

.images a {
    position: relative;
    overflow: hidden;
    display: block;
    width: 300px;
    height: 250px;
    box-shadow: 0 0 2px 2px rgba(3, 3, 3, 0.7);
}

@media (max-width: 350px) {
    .images a {
        width: 200px;
        height: 170px;
    }
}

a img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(226, 221, 221);
    font-family: 'Roboto', 'Arial', sans-serif;
    color: rgb(36, 37, 36);
    font-size: 10px;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1640px;
    font-size: 1.6rem;
    background-color: rgb(226, 221, 221);
    overflow-x: hidden;
}

.wrapper {
    max-width: 1640px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* ---Header section--- */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background-color: rgba(12, 12, 12, 1);
    z-index: 1;
}

#title {
    text-align: center;
    margin: 0 auto;
    font-size: 1.6rem;
    letter-spacing: 4px;
    color: rgb(185, 182, 182);
    line-height: 35px;
    font-family: 'Kaushan Script', cursive;
}

@media (min-width: 951px) {
    #header {
        display: none;
    }
}

#main_img {
    width: 100%;
    max-width: 1640px;
    height: 60vh;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 100px;
    background-image: url("img/georgia/georgia.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 700px) {
    #main_img {
        height: 40vh;
        margin-bottom: 0;
    }
}

/* ---Description of trip section--- */

#main_article {
    margin: 100px 3%;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 700px) {
    #main_article {
        margin: 50px 0;
        padding: 0 4%;
    }
}

#trip_description {
    width: 73%;
    padding-right: 20px;
    margin-bottom: 50px;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
    padding-bottom: 30px;
    font-size: 4.2rem;
    letter-spacing: 0.6rem;
    color: rgb(2, 159, 231);
    font-weight: 700;
    text-shadow: 2px 2px rgba(8, 8, 8, .8);
}

@media (max-width: 700px) {
    h1 {
        padding-bottom: 15px;
        font-size: 2.8rem;
        letter-spacing: 0.4rem;
        text-shadow: 1px 1px rgba(8, 8, 8, .8);
    }
}

.days {
    margin: 30px auto 10px auto;
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: 700;
}

@media (max-width: 700px) {
    .days {
        margin: 30px auto 10px auto;
        font-size: 1.4rem;
    }
}

.trip_text {
    margin: 0 auto 20px auto;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.small_text {
    font-size: 1.6rem;
    line-height: 2.1rem;

}

@media (max-width: 700px) {
    .trip_text {
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: rgb(36, 37, 36);
        font-weight: 400;
    }

    .small_text {
        font-size: 1.4rem;
        line-height: 1.8rem;

    }
}

aside {
    width: 27%;
    border-left: solid 1px rgb(124, 126, 134);
}

@media (max-width: 1100px) {
    aside {
        border-left: none;
        width: 100%;
    }

    #trip_description {
        width: 100%;
        padding-right: 0;
    }
}

.logo_aside {
    display: block;
    width: 40%;
    margin: 0 auto;
}

@media (max-width: 1100px) {
    .logo_aside {
        width: 15%;
    }
}

@media (max-width: 700px) {
    .logo_aside {
        width: 25%;
    }
}

#cost_terms {
    width: 100%;
    padding: 30px 5% 0 5%;
}

.terms {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.price {
    color: rgb(2, 159, 231);
}

.text_block {
    margin-top: 15px;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.text_inline {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-top: 7px;
    font-weight: 400;
}

.fa-check {
    font-size: 1.4rem;
    color: rgb(2, 159, 231);
    margin-right: 10px;
}

.fab {
    margin: 40px 10px;
    font-size: 4.5rem;
}

@media (max-width: 700px) {
    .terms {
        font-size: 1.4rem;
        line-height: 1.7rem;
    }

    .text_block {
        font-size: 1.4rem;
        line-height: 1.7rem;
    }

    .text_inline {
        font-size: 1.4rem;
        line-height: 1.7rem;
    }

    .fa-check {
        font-size: 1.4rem;
    }

    .fab {
        font-size: 3.4rem;
    }
}

/* ---Gallery section--- */

#gallery {
    width: 100%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

@media (max-width: 1300px) {
    #gallery {
        margin: 50px auto;
    }
}

.images {
    padding: 50px 10px 0 10px;
}

.images a {
    position: relative;
    overflow: hidden;
    display: block;
    width: 300px;
    height: 250px;
    box-shadow: 0 0 2px 2px rgba(3, 3, 3, 0.7);
}

@media (max-width: 350px) {
    .images a {
        width: 200px;
        height: 170px;
    }
}

a img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
>>>>>>> 71b1340f5f4448cd60dc19932d85f840c4b33c9b
}