* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: white;
    font-size: 10px;
}

.wrapper {
    margin: 0 auto;

    width: 100%;
    max-width: 1640px;
    font-size: 1.6rem;
    background-color: black;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: transparent;
}

/* ---Language links---*/

.lang_list {
    position: fixed;
    top: 10px;
    right: 7px;
    z-index: 2;
    font-size: 1.4rem;
}

.lang_item {
    margin: 0;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    display: inline;
    color: rgb(185, 182, 182);
    font-weight: 700;
}

@media (min-width: 951px) {
    .lang_list {
        display: none;
    }
}

/* ---Facebook link--- */

.fa-facebook-f {
    position: fixed;
    top: 15%;
    right: -45px;
    padding: 5px;
    border-radius: 6px;
    z-index: 2;
    font-size: 45px;
    color: white;
    background-color: rgb(59, 89, 152);
    animation: fb 1.2s linear forwards;
    animation-delay: .2s;
}

/* ---Instagram link--- */

.insta {
    position: fixed;
    top: 30%;
    right: -45px;
    z-index: 2;
    font-size: 45px;
    color: rgb(2, 159, 231);
    animation: fb 1.2s linear forwards;
    animation-delay: .2s;
}

@keyframes fb {
    100% {
        right: 0;
    }
}

@media (max-width: 750px) {
    .fa-facebook-f {
        font-size: 25px;
    }

    .insta {
        font-size: 30px;
    }
}

@media (max-width: 320px) {
    .fa-facebook-f {
        font-size: 20px;
    }
}

/* cookie alert */
#cookies-message {
    color: rgb(185, 182, 182);
    padding: 12px 10px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    display: none;
}

#accept-cookies-checkbox {
    background-color: rgb(2, 159, 231);
    color: white;
    border: solid 1px rgb(2, 159, 231);
    transition: all 0.5s;
    padding: 2px 6px;
    border-radius: 4px;
    display: inline-block;
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
}

.more_info {
    margin-left: 10px;
    color: rgb(185, 182, 182);
    border-bottom: dashed 1px;
}

#accept-cookies-checkbox:hover {
    background-color: rgb(40, 150, 73);
    border-color: rgb(185, 182, 182);
}

/* ---Navigation section--- */

#nav {
    margin: 0 auto;
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    max-width: 1640px;
    background-color: rgba(12, 12, 12, 1);
    padding: 0 3% 0 5%;
    z-index: 1;
}

@media (max-width: 950px) {
    #nav {
        display: none;
    }
}

.menu_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100%;
    list-style: none;
    padding: 3% auto;
}

.menu_item {
    margin: 0 20px;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    line-height: 60px;
    overflow: hidden;
    display: inline;
    color: rgb(185, 182, 182);
    font-weight: 700;
}

.menu_link {
    position: relative;
    display: inline;
    padding-bottom: 4px;
    color: rgb(185, 182, 182);
    font-weight: 700;
}

.menu_link:hover {
    color: rgb(2, 159, 231);
}

.menu_link:hover .underline {
    left: 0;
}

.underline {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(2, 159, 231);
    bottom: 0;
    left: -105%;
    transition: .4s;
}

/* Ukrycie zakładki hostel i formularza */
.hide {
    display: none;
}

.menu_item:nth-child(1) {
    margin-left: 0;
}

.menu_item:nth-last-child(2) {
    margin-left: auto;
}

.lang_margin {
    margin: 0;
}

.english {
    padding-right: 5px;
    padding-bottom: 0;
    border-right: 2px solid rgb(185, 182, 182);
}

.polish {
    padding-left: 5px;
}

/* Menu Hamburger section */

.burger {
    position: fixed;
    font-size: 2.2rem;
    top: 8px;
    left: 15px;
    z-index: 3;
    color: rgb(185, 182, 182);
}

i.show {
    display: block;
}

aside.nav_aside {
    position: fixed;
    z-index: 4;
    padding: 20px 0;
    top: 0;
    left: -320px;
    width: 200px;
    background-color: rgb(12, 12, 12);
    transition: .3s linear;
}

.nav_aside.show {
    left: 0;
}

nav.buger_aside {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.fa-times {
    position: absolute;
    display: block;
    top: 10px;
    right: 20px;
    font-size: 2.5rem;
    color: rgb(185, 182, 182);
    z-index: 5;
}

li.aside_item {
    margin: 10px 20px;
    padding: 10px 0;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    display: block;
    color: rgb(185, 182, 182);
    font-weight: 700;
    border-bottom: 1px solid rgb(2, 159, 231);
}

a.aside_link {
    color: rgb(185, 182, 182);
}

@media (min-width: 951px) {
    .burger {
        display: none;
    }

    .nav_aside {
        display: none;
    }
}

@media (max-width: 320px) {
    aside.nav_aside {
        padding: 10px 0;
        left: -320px;
        width: 200px;
    }

    .fa-times {
        font-size: 2rem;
    }

    li.aside_item {
        margin: 2px 10px;
        padding: 5px 0;
        font-size: 1.2rem;
        font-weight: 400;
    }
}

/* ---Header section--- */

.header {
    position: relative;
    width: 100%;
    max-width: 1640px;
    height: 100vh;
    margin: 0 auto;
    margin-bottom: 100px;
    background-image: url("img/header.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.darker_box {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(transparent 70%, black 99%);
}

.logo {
    position: absolute;
    bottom: 66%;
    right: 50%;
    transform: translate(50%, -70%);
    width: 15%;
    animation: baloon 1.2s linear forwards;
    animation-delay: .2s;
}

@keyframes baloon {
    100% {
        transform: translate(50%, 50%);
    }
}

.letter_style {
    font-family: 'Kaushan Script', cursive;
    color: rgb(230, 227, 222, );
    letter-spacing: 8px;
    width: 100%;
    text-align: center;
    transform: scale(0);
    animation: headings 1.3s linear forwards;
    animation-delay: .2s;
}

@keyframes headings {
    100% {
        transform: scale(1);
    }
}

.pintrips {
    position: absolute;
    bottom: 29%;
    font-size: 8rem;
    text-shadow: 5px 5px rgba(8, 8, 8, .8);
}

.slogan {
    position: absolute;
    bottom: 20%;
    font-size: 2.5rem;
    line-height: 3rem;
    text-shadow: 3px 3px rgba(8, 8, 8, .8);
}

@media (orientation: portrait) and (max-width: 600px) {
    .logo {
        width: 25%;
    }
}

@media (orientation: landscape) and (max-width: 850px) {
    .logo {
        bottom: 75%;
    }
}

@media (orientation: portrait) and (max-width: 850px) {
    .logo {
        width: 33%;

    }
}

@media (max-width: 700px) {
    header {
        margin-bottom: 0;
    }

    .pintrips {
        font-size: 5rem;
        padding: 20px;
        text-shadow: 3px 3px rgba(8, 8, 8, .8);
    }
}

@media (max-width: 560px) {
    .pintrips {
        font-size: 4rem;
        text-shadow: 2px 2px rgba(8, 8, 8, .8);
    }
}

@media (max-width: 700px) {
    .slogan {
        font-size: 2rem;
        text-shadow: 2px 2px rgba(8, 8, 8, .8);
    }
}

@media (max-width: 560px) {
    .slogan {
        font-size: 1.6rem;
        text-shadow: 1px 1px rgba(8, 8, 8, .8);
    }
}

@media (orientation: landscape) and (max-width: 490px) {
    .pintrips {
        bottom: 33%;
        font-size: 3.2rem;
    }
}

@media (orientation: portrait) and (max-width: 300px) {
    .pintrips {
        bottom: 30%;
        font-size: 2.8rem;
    }

    .slogan {
        font-size: 1.3rem;
        letter-spacing: 4px;
        line-height: 2.3rem;
    }
}

/* ---About Us section--- */

#about-us {
    width: 100%;
    max-width: 1640px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 100px;
    background-image: url("img/about_us.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.darker_box2 {
    margin: 0 auto;
    padding-top: 120px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(black 1%, transparent 40%, transparent 98%, black 99%);
}

.about-us_art {
    margin: 0 auto;
    width: auto;
    max-width: 1400px;
    padding: 0 3%;
}

.intro {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    padding-bottom: 60px;
    font-size: 5.2rem;
    letter-spacing: 0.6rem;
    color: rgb(2, 159, 231);
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px rgba(8, 8, 8, .8);
}

.text {
    margin: 20px;
    font-size: 2rem;
    text-align: justify;
    color: rgb(185, 182, 182);
    letter-spacing: 0.1rem;
    line-height: 2.7rem;
    text-shadow: 1px 1px rgba(8, 8, 8, .8);
}

@media (max-width: 700px) {
    #about-us {
        margin-bottom: 0;
    }

    .intro {
        font-size: 3.2rem;
        letter-spacing: 0.4rem;
        padding-bottom: 30px;
    }

    .text {
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
        line-height: 1.8rem;
        text-align: left;
    }
}


/* ---Trips section--- */

#trips {
    width: 100%;
    max-width: 1640px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 100px;
    background-image: url("img/trips.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.darker_box3 {
    margin: 0 auto;
    padding-top: 120px;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    background-image: linear-gradient(black 1%, transparent 35%, transparent 90%, black 99%);
}

.subtitle-trips {
    margin-top: -20px;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 2.9rem;
    letter-spacing: 0.6rem;
    color: rgb(2, 159, 231);
    text-shadow: 3px 3px rgba(8, 8, 8, .8);
}

@media (max-width: 700px) {
    #trips {
        margin-bottom: 0;
    }

    .subtitle-trips {
        font-size: 1.8rem;
        letter-spacing: 0.3rem;
    }
}

.trips-items {
    width: auto;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.trips-items a {
    margin: 7vh 2vw;
}

.trip {
    position: relative;
    width: 350px;
    height: 450px;
    color: rgb(185, 182, 182);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    box-shadow: 0 0 10px 8px rgba(10, 10, 10, .5);
    background-size: 230%;
    transition: 1s;
}

.img1 {
    background-image: url("img/georgia/georgia.jpg");
}

.img2 {
    background-image: url("img/armazi/armazi.jpg");
}

.img3 {
    background-image: url("img/birtvisi/birtvisi.jpg");
}

.img4 {
    background-image: url("img/bolnisi/bolnisi.jpg");
}

.img5 {
    background-image: url("img/dry_bridge/bridge.jpg");
}

.img6 {
    background-image: url("img/kojori/kojori.jpg");
}

.img7 {
    background-image: url("img/tbilisi/tbilisi.jpg");
}

.img8 {
    background-image: url("img/samshvilde/samshvilde.jpg");
}

.img9 {
    background-image: url("img/dariali/dariali.jpg");
}

.trip:hover {
    color: rgb(2, 159, 231);
    background-size: 270%;

}

.trip_title {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 100%;
    padding: 10px 8px;
    font-family: 'Kaushan Script', cursive;
    line-height: 3.5rem;
    background-color: rgba(8, 8, 8, .7);
    text-align: center;
    font-size: 2.4rem;
    letter-spacing: 0.4rem;
    text-shadow: 2px 2px rgba(8, 8, 8, .8);
}

.price_trip {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 6px 0;
    line-height: 3.5rem;
    background-color: rgba(8, 8, 8, .9);
    text-align: center;
    font-size: 1.9rem;
    letter-spacing: 0.1rem;
}

@media (max-width: 700px) {
    .trip {
        width: 260px;
        height: 320px;
    }

    .trip_title {
        font-size: 2rem;
        line-height: 2.8rem;
    }

    .price_trip {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .trip {
        width: 230px;
        height: 290px;
    }
}

/* ---Contact section--- */

#contact {
    width: 100%;
    max-width: 1640px;
    position: relative;
    margin: 0 auto;
    background-image: url("img/contact.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.darker_box4 {
    margin: 0 auto;
    width: 100%;
    padding-top: 120px;
    background-color: rgba(0, 0, 0, .5);
    background-image: linear-gradient(black 1%, transparent 25%, transparent 90%, black 99%);
}

.contact_section {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    padding: 0 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contactWays {
    max-width: 700px;
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;

}

/* --section icons--  */

.icons {
    margin-left: 60px;
    line-height: 40px;
    max-width: 550px;
}

.icon {
    width: 12%;
    margin-right: 10px;
}

.icon_contact {
    margin-bottom: 18px;
    font-size: 4rem;
    color: rgb(185, 182, 182);
    text-align: center;
}

.icon_social {
    color: rgb(2, 159, 231);
}

.icon_social:hover {
    color: rgb(40, 150, 73);
}

.text_icon {
    display: inline-block;
    width: 83%;
    font-size: 1.8rem;
    text-align: left;
    color: rgb(185, 182, 182);
    letter-spacing: 0.1rem;
    text-shadow: 1px 1px rgba(8, 8, 8, .8);
}

.phone_color {
    color: rgb(2, 159, 231);
}

@media (max-width: 700px) {
    .icon_contact {
        margin-bottom: 15px;
        font-size: 2.7rem;
    }

    .text_icon {
        font-size: 1.4rem;
    }

    .icons {
        margin-left: 20px;
        line-height: 27px;
        max-width: 550px;
    }
}

@media (max-width: 1024px) {
    .icon_social:hover {
        color: rgb(2, 159, 231);
    }
}

/* --section form--  */

/* #form {
    display: none;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

.form_title {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 3.5rem;
    letter-spacing: 0.6rem;
    color: rgb(2, 159, 231);
    font-weight: 700;
    text-align: center;
}

.labels {
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 10px;
    width: 150px;
    color: rgb(185, 182, 182);
    letter-spacing: 0.1rem;
    text-shadow: 1px 1px rgba(8, 8, 8, .8);
    font-size: 1.8rem;
}

.label_news {
    vertical-align: top;
}

.rightTab {
    display: inline-block;
    text-align: left;
    width: 400px;
    margin-bottom: 10px;
    padding-right: 20px;
}

@media (max-width: 700px) {
    .rightTab {
        width: 90vw;
        margin: 0 auto 10px auto;
        padding-right: 0;
    }

    .labels {
        width: 90vw;
        text-align: center;
        padding-right: 0;
    }

    .form_title {
        width: 100%;
        margin-top: 20px;
        font-size: 2.5rem;
    }
}

.input-field {
    height: 37px;
    width: 100%;
    padding: 5px;
    margin-bottom: 12px;
    color: rgb(15, 15, 15);
    font-size: 1.6rem;
    opacity: .6;
}

#comment {
    height: 250px;
    resize: vertical;
}

.button {
    text-align: center;
}

#submit {
    margin-top: 15px;
    padding: 10px 35px;
    font-size: 20px;
    color: white;
    background-color: rgb(2, 159, 231);
    border: none;
    border-radius: 30px;
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-weight: 700;
}

#submit:hover {
    cursor: pointer;
    background-color: rgb(40, 150, 73);
} */



/* --section map--  */

iframe {
    margin: 0 auto;
    width: 90vw;
    max-width: 1600px;
    height: 500px;
    margin-top: 120px;
    margin-bottom: 150px;
    box-shadow: 0 0 6px 6px rgba(71, 70, 70, 0.5);
}

/* #short_map {
    width: 100%;
    max-width: 800px;
} */

/* ---Footer section--- */

footer {
    width: 100%;
    max-width: 1640px;
    min-height: 80px;
    position: relative;
    margin: 0 auto;
    background-color: rgba(12, 12, 12, 1);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer_text {
    display: inline-block;
    padding: 30px;
    color: rgb(185, 182, 182);
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
}

.footer_text:nth-last-child(1) {
    margin-left: auto;
}

.text_style {
    color: rgb(185, 182, 182);
}

.text_style:hover {
    color: rgb(2, 159, 231);
}

@media (max-width: 970px) {
    .footer_text:nth-last-child(1) {
        margin-left: 0;
    }
}

@media (max-width: 700px) {
    .footer_text {
        padding: 10px;
        font-size: 1.2rem;
    }

    footer {
        min-height: 50px;
    }
}